@import "../../../../scss/variables.scss";

.login-container
{
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    height: 500px;
    width: 600px;
    margin-left:auto;
    margin-right:auto;
    .login-left-pane
    {
        color:white;
        background-color: $bondit-blue-color;
        padding-top: 20px;
        padding-right: 20px;
        padding-left:20px;
        box-sizing: border-box;
        width:50%;
        margin-left: auto;
        margin-right: auto;
        h1{
            font-size: 40px;
        }
    }

    .login-right-pane
    {
        background-color: white;
        padding-top: 20px;
        padding-right: 20px;
        padding-left:20px;
        width:50%;
        input{
            border-radius: 25px;
            border: 1px solid gray;
        }
        .login-btn{
            background-color: $bondit-blue-color !important;
            margin-left: auto;
            margin-right: auto;
            display: block;
            border-radius: 15px;
        }
        .bondit-logo
        {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
            height: 20%;
        }
    }
}