<mat-toolbar class="nav-container">
    <span>
      <img src="assets/images/bondit-white.png" class="bundit-logo">
    </span>
    <span class="fill-remaining-space"></span>
    <button mat-button>My Portfolios</button>
    <button mat-button (click)="onLogout()">Logout</button>
  </mat-toolbar>
