/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
html,
body {
   margin:0; 
   height:100%;
   background-color: #E8E9EB !important;
}
.content {
   min-height:95%;
   position:relative;
   padding: 10px;
   padding-bottom: 60px;
   padding:10px;
}
